.movie-box {
  border: solid black;
  border-width: 5px;
  max-width: fit-content;
  margin: auto;
  padding: 10px;
}

.bottom-button {
  background-color: skyblue;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}

.button-div {
  text-align: center;
}
